/* Шапка */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px 20px;
  background-color: #273142;
  border-bottom: 1px solid #323D4E;
}

/* Группа: логотип + поиск */
.logo-search-group {
  display: flex;
  align-items: center;
  gap: 65px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  color: #4880FF;
}
.logo span {
  color: #fff;
}

.search-input {
  padding: 10px 10px 10px 45px;
  width: 435px;
  border: none;
  border-radius: 5px;
  background-color: #323D4E;
  color: #fff;
  font-weight: 500;
  background-image: url('/img/search.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
}
.search-input::placeholder {
  color: #fff;
  font-weight: 500;
  opacity: 0.8;
}

.user-profile {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
/* Боковое меню */
.sidebar {
  background-color: #273142;
  color: white;
  padding: 15px;
  box-sizing: border-box;
  min-height: 90vh;
  overflow-y: auto;
}
.active img {
    background-color: #4880FF;
    padding: 10px;
    border-radius: 14px;
}
.icon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-list li:last-child {
  position: absolute;
  bottom: 20px;
  /* Сохраняем текущие стили */
}

.icon-list li:last-child:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -25px;
  right: -23px;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #323D4E;
  pointer-events: none;
}



.icon-list li {
  padding: 10px;
}

.icon-list a {
  color: white;
  text-decoration: none;
  display: block;
}

.icon-list .active {
  font-weight: bold;
}
/* Пользователь */
.user-info-row {
  display: grid;
  gap: 1px;
}
.user-info:first-child {
  font-weight: 600;
}
.user-info:last-child {
  font-weight: 400;
  font-size: 12px;
}
